/* == == == Main == == == */
main {
    margin: 21px 9px;
    gap: 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section {
    box-shadow: 0px 1px 12px var(--lighter-shadow);
    border-radius: 15px;
    background-color: var(--white);
    padding: 12px;
    width: 100%;
}

main section h2 {margin: 9px 0 30px 0;}

/* New transaction form */
#new_transaction form {
    gap: 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.input_container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main_input {
    outline: none;
    border: 1px solid var(--gray);
    border-radius: 9px;
    background-color: transparent;
    caret-color: var(--black);
    padding: 12px 15px;
    height: 48px;
    transition-duration: var(--t-fast);
}

.user_icon {
    opacity: 0;
    position: absolute;
    top: -23px;
    left: -15px;
    transition: var(--t-fast) linear;
}

.username_label {
    overflow: hidden;
    opacity: 0;
    font-size: var(--fs-small);
    font-weight: var(--fw-light);
    position: absolute;
    top: -23px;
    left: 12px;
    transition: var(--t-fast) linear;
}

.main_input:focus ~ .username_label,
.main_input:valid ~ .username_label {
    opacity: 1;
    transform: translateX(20px);
}

.main_input:focus ~ .user_icon,
.main_input:valid ~ .user_icon {
    opacity: 1;
    transform: translateX(20px);
}

.main_input:focus,
.main_input:valid {
    border-color: var(--black);
    background-color: var(--white);
    transition-duration: var(--t-fast);
}

.date_input {width: 100%;}

/* Submit Button */
.submit_wrapper {
    background: none;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    overflow: hidden;
    border: 1px solid var(--black);
    border-radius: 9px;
    background-color: var(--white);
    width: 100%;
    height: 50px;
    display: flex;
    position: relative;
    transition: all var(--t-fast) cubic-bezier(0.23, 1, 0.32, 1);
    z-index: var(--z-tooltip);
}

.container:active {transform: scale(0.96);}

.container::before {
    content: "";
    background-color: var(--red-l);
    width: 50px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width var(--t-medium) cubic-bezier(0.23, 1, 0.32, 1);
}

.container:hover::before {width: 100%;}

.left-side {
    overflow: hidden;
    background-color: var(--red);
    width: 50px;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: background-color var(--t-medium) cubic-bezier(0.23, 1, 0.32, 1);
    z-index: var(--z-tooltip);
}

.container:hover .left-side {background-color: var(--red-d);}

.right-side {
    cursor: pointer;
    width: calc(100% - 50px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: var(--t-fast);
    z-index: var(--z-tooltip);
}

.new {
    color: var(--black);
    margin-left: 15px;
    letter-spacing: var(--ls-small);
    font-size: var(--fs-par);
    transition: transform var(--t-fast) ease;
}

.container:hover .new {transform: translateX(5px);}

.arrow {
    fill: var(--black);
    width: 15px;
    height: 15px;
    margin-right: 15px;
    transition: transform var(--t-fast) ease;
}

.container:hover .arrow {transform: translateX(3px);}

.card {
    box-shadow: 4px 4px 4px -1px #ff4343;
    border-radius: 3px;
    background-color: var(--red-l);
    width: 35px;
    height: 23px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: var(--z-tooltip);
}

.card-line {
    width: 30px;
    height: 6px;
    background-color: var(--red);
    border-radius: 1px;
    margin-top: 4px;
}

.buttons {
    box-shadow: 0 -5px 0 0 var(--red-d), 0 5px 0 0 #ff2222;
    border-radius: 50%;
    background-color: var(--red);
    margin: 5px 0 0 -15px;
    width: 4px;
    height: 4px;
    transform: rotate(90deg);
}

.post {
    overflow: hidden;
    border-radius: 3px;
    background-color: var(--grey-l);
    width: 32px;
    height: 40px;
    position: absolute;
    top: 50px; 
    z-index: var(--z-tooltip);
}

.post-line {
    border-radius: 0px 0px 2px 2px;
    background-color: var(--grey);
    width: 24px;
    height: 5px;
    position: absolute;
    right: 4px;
    top: 4px;
}

.post-line:before {
    content: "";
    width: 24px;
    height: 5px;
    background-color: #aaa9ab;
    position: absolute;
    top: -4px;
}

.screen {
    border-radius: 2px;
    background-color: var(--light);
    width: 24px;
    height: 12px;
    position: absolute;
    top: 11px;
    right: 4px;
}

.dollar {
    opacity: 0;
    color: var(--red);
    width: 100%;
    font-size: 10px;
    position: absolute;
    left: 0;
    top: -2px;
    text-align: center;
}

.numbers, .numbers-line2 {
    background-color: var(--grey);
    width: 6px;
    height: 6px;
    border-radius: 1px;
    position: absolute;
    transform: rotate(90deg);
    left: 13px;
}

.numbers { top: 26px; box-shadow: 0 -9px 0 0 var(--grey), 0 9px 0 0 var(--grey); }
.numbers-line2 { top: 34px; background-color: #aaa9ab; box-shadow: 0 -9px 0 0 #aaa9ab, 0 9px 0 0 #aaa9ab; }
.container:hover .card {animation: slide-top var(--t-slow) cubic-bezier(0.645, 0.045, 0.355, 1) both;}
.container:hover .post {animation: slide-post var(--t-slow) cubic-bezier(0.165, 0.84, 0.44, 1) both;}
.container:hover .dollar {animation: fade-in-fwd var(--t-fast) var(--t-slow) forwards;}

@keyframes slide-top {
    0% { transform: translateY(0); }
    50% { transform: translateY(-40px) rotate(90deg); }
    60% { transform: translateY(-40px) rotate(90deg); }
    100% { transform: translateY(-5px) rotate(90deg); }
}

@keyframes slide-post {
    50% { transform: translateY(0); }
    100% { transform: translateY(-44px); }
}

@keyframes fade-in-fwd {
    0% { opacity: 0; transform: translateY(-2px); }
    100% { opacity: 1; transform: translateY(0); }
}

/* Filter */
#filter_inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.custom_dropdown {
    user-select: none;
    width: 100%;
    position: relative;
}

.dropdown_header {
    cursor: pointer;
    border: 1px solid var(--gray);
    border-radius: 9px;
    background-color: var(--white);
    padding: 12px 15px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: var(--t-fast);
}

.dropdown_content {
    box-shadow: 0px 4px 12px var(--sh-lighter);
    border-radius: 9px;
    background-color: var(--white);
    padding: 15px;
    width: 100%;
    display: none;
    position: absolute;
    top: 110%;
    left: 0;
    z-index: var(--z-tooltip);
}

.dropdown_content.show { display: block; }

.dropdown_divider {
    opacity: .3;
    border: 0;
    border-top: 1px solid var(--black);
    margin: 9px 0;
}

.cyberpunk_checkbox {
    cursor: pointer;
    appearance: none;
    border: 1px solid var(--black);
    border-radius: 6px;
    background-color: transparent;
    margin-right: 9px;
    width: 21px;
    height: 21px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.cyberpunk_checkbox:before {
    content: "";
    border-radius: 4px;
    background-color: var(--black);
    width: 13px; 
    height: 13px;
    display: block;
    transform: scale(0);
    transition: transform var(--t-fast) ease-in-out;
}

.cyberpunk_checkbox:checked:before {transform: scale(1);}

.cyberpunk_checkbox_label {
    user-select: none;
    cursor: pointer;
    color: var(--black);
    margin: 9px 0;
    letter-spacing: var(--ls-small);
    display: flex;
    align-items: center;
}

/* Display of data */
#dashboard_cards {
    gap: 12px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
}

.card_analytics {
    box-shadow: 0px 1px 9px var(--lighter-shadow);
    border: 1px solid var(--gray-l);
    border-radius: 15px;
    background-color: var(--white); 
    padding: 15px 9px;
    transition: transform var(--t-fast) ease;
}

.card_analytics:hover {transform: translateY(-3px);}

.card_header {
    gap: 9px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}

.card_icon {
    font-size: var(--fs-h5);
    color: var(--red);
}

.title_text_card {
    color: var(--gray-d);
    font-size: var(--fs-par);
}

.value_text_card {
    color: var(--black);
    letter-spacing: var(--ls-medium);
    font-size: var(--fs-h4);
    font-weight: var(--fw-semi-bold);
}

/* Analytics Charts*/
.charts_container {
    gap: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.chart_box {
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    border-radius: 15px;
    background: var(--white);
    padding: 15px 9px;
    min-width: 300px;
    flex: 1;
}

/* Delete Button */
button.noselect {
    overflow: hidden;
    box-shadow: 0 1px 12px var(--lighter-shadow);
    border: none;
    border-radius: 9px;
    background: var(--red);
    padding-right: 48px;
    width: calc(100% - 24px);
    height: 48px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.noselect .text {
    color: var(--light);
    letter-spacing: var(--ls-small);
    font-size: var(--fs-par);
    font-weight: var(--fw-semi-bold);
    transition: var(--t-fast);
}

button.noselect .icon {
    border-left: 1px solid var(--red-d);
    background: var(--red); 
    height: 100%;
    width: 48px;
    position: absolute;
    right: 0; 
    top: 0;   
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--t-fast);
}

button.noselect .icon i {
    color: var(--light);
    font-size: var(--fs-h5);
    transition: var(--t-fast);
}

button.noselect:hover {background: var(--red-l);}
button.noselect:hover .text {opacity: 0;}

button.noselect:hover .icon {
    border-left: none;
    background: var(--red-l);
    width: 100%;
}

button.noselect:active {transform: scale(0.96);}

/* Delete Modal */
.modal_overlay {
    background: var(--sh-dark);
    backdrop-filter: blur(6px);
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: var(--z-fixed);
}

.modal_content {
    overflow-y: auto;
    box-shadow: 0 1px 12px var(--default-shadow);
    background: var(--white);
    padding: 15px;
    max-width: 500px;
    width: 90%;
    max-height: 80vh;
}

.modal_content::-webkit-scrollbar {
    background-color: var(--light);
    width: 12px;
}

.modal_content::-webkit-scrollbar-track {background: transparent;}

.modal_content::-webkit-scrollbar-thumb {
    border: 3px solid var(--light);
    border-radius: 9px;
    background-color: var(--dark);
    width: 8px;
}

.modal_header {
    border-bottom: 1px solid var(--gray);
    margin-bottom: 21px;
    padding-bottom: 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#close_modal {
    border: 1px solid var(--gray);
    border-radius: 9px;
    background-color: transparent;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: var(--z-tooltip);
    transition: all var(--t-medium) ease;
}

.close_icon {
    overflow: visible;
    fill: currentColor;
    width: var(--fs-h3);
    height: var(--fs-h3);
    transition: transform var(--t-fast) ease;
}

.close_icon path {transition: transform var(--t-fast) ease;}

#close_modal:hover .close_icon {
    transform: rotate(45deg);
    transition-delay: var(--t-fast);
}

#close_modal:hover .path-1 {transform: rotate(112.5deg) translate(-27.2%, -80.2%);}
#close_modal:hover .path-2 {transform: rotate(22.5deg) translate(15.5%, -23%);}
#close_modal:hover .path-3 {transform: rotate(112.5deg) translate(-15%, -149.5%);}

.transaction_item {
    border-bottom: 1px solid var(--gray);
    padding: 12px 0 12px 12px;
    letter-spacing: var(--ls-small);
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: fadeIn var(--t-fast) ease;
}

.trans_info span {
    font-size: var(--fs-par);
    display: block;
}

.trans_amount {
    color: var(--red);
    letter-spacing: var(--ls-small);
}

.delete_btn {
    overflow: hidden;
    box-shadow: 0px 1px 12px var(--light-shadow);
    border-radius: 9px;
    background-color: var(--black);
    width: 39px;
    height: 39px;
    letter-spacing: var(--ls-small);
    font-weight: var(--fw-semi-bold);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition-duration: var(--t-fast);
}

.svgIcon {
    width: 12px;
    transition-duration: var(--t-fast);
}

.svgIcon path {fill: var(--white);}

.delete_btn:hover {
    border-radius: 39px;
    background-color: var(--red-l);
    width: 60px;
    align-items: center;
    transition-duration: var(--t-fast);
}

.delete_btn:hover .svgIcon {
    width: 39px;
    transition-duration: var(--t-fast);
    transform: translateY(60%);
}

.delete_btn::before {
    content: attr(data-label);
    position: absolute;
    top: -24px;
    color: var(--white);
    font-size: var(--fs-smaller);
    transition-duration: var(--t-fast);
}

.delete_btn:hover::before {
    opacity: 1;
    font-size: var(--fs-smaller);
    transform: translateY(30px);
    transition-duration: var(--t-fast);
}

/* == == == Responsiveness == == == */
/* For medium devices */
@media screen and (min-width: 576px) {
/* == == == Main == == == */
    main {
        margin: 21px;
        gap: 21px;
    }

    main section {
        padding: 36px 18px;
        width: 100%;
    }

    /* New Transaction Form */
    #new_transaction form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: center;
    }

    #new_transaction .input_container {
        flex: 1 1 calc(45% - 20px); 
        min-width: 200px;
    }

    #new_transaction .submit_wrapper {
        flex: 1 1 calc(45% - 20px);
        min-width: 200px;
    }

    #new_transaction .submit_wrapper .container {
        width: 100%;
        height: 48px;
    }

    /* Filter Section */
    #filter_inputs {
        gap: 30px;
        flex-direction: row;
        align-items: flex-start;
    }

    #filter_inputs .custom_dropdown,
    #filter_inputs #category_filter_container {
        width: 100%;
        flex: 1;
    }

    #category_filter_container {
        gap: 15px;
        padding-top: 9px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .cyberpunk_checkbox_label {
        margin: 0;
        white-space: nowrap;
    }

    /* Delete Button */
    button.noselect {
        margin-left: 0;
        margin-right: auto;
        max-width: 270px;
        width: 100%;
    }
}

/* For large devices */
@media screen and (min-width: 1023px) {
/* == == == Popups == == == */
    #toast_container {top: 75px;}
    .toast_card {width: 390px;}

/* == == == Main == == == */
    /* New Transaction Form*/
    #new_transaction .input_container, 
    #new_transaction .submit_wrapper {flex: 1; }
    #new_transaction form {flex-wrap: nowrap;}

    /* Summary */
    #dashboard_cards {
        gap: 15px;
        margin: 0 auto;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
    }
    
    .card_analytics {
        padding: 30px 18px;
        width: 100%;
        height: 114px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
